---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const uses = (await getCollection("uses"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      👋 很高兴见到你，我叫磅豆龙！
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            好久都没有在这种地方作自我介绍了，这里是我的个人 Portfolio，我会在这里向你展示许多有意思的东西！
          </p>
          <p class="animate">
            我的英文姓名叫 Frederick Chen，中文名为 Chen Fengyi（陈风亦）。是一名来自 中国 重庆 的学生，目前就读于
            <Link href="http://xndxfz.swu.edu.cn/" aria-label="重庆西南大学附属中学" external>
              重庆西南大学附属中学
            </Link>
            。
          </p>
          <p class="animate">
            在我的空闲时间，我会做一些有趣的开源项目，它们都可以在我的 <Link href="/projects">项目</Link> 板块中找到。当然，你也可以看看我的 <Link href="https://github.com/FrederickBun">Github</Link> 并 Follow 我！
          </p>
          <p class="animate">
            当然，本人正处于探索期，希望在将来能与更多人分享自己的想法，并一起努力解决一些问题。
          </p>
          <p class="animate">
            如果你想看看我的文章，可以访问 <Link href="https://uses.setbun.com">博客</Link>，我会在上面记录我的生活，做一些 APP 分享，或赘述一些对某些事物产生的看法。欢迎订阅更新～
          </p>
          <p class="animate">
            最后，如果你愿意，欢迎 <Link href="https://github.com/FrederickBun/FrederickBun/blob/main/DONATE.md">赞助</Link> 我，你们的支持永远是我最大的动力！
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            我的装备
          </h5>
          <Link href="/uses">
            更多
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {uses.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            工作组织
          </h5>
          <Link href="/work">
            更多
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            最新项目
          </h5>
          <Link href="/projects">
            所有项目
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          联系我
        </h5>
        <article>
          <p>
            如果你想通过互联网链接到我，你可以试试以下几种方式：
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
